<div class="content p-3 " id="contact" >
    <br>
    <br>
    <h2 class="text-center" data-aos="fade-zoom-in">Contactamé</h2>
    <div class="row justify-content-center">
        <div class="col d-flex justify-content-center"  data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" >
            <div class="card">
                <form class="card-body"  [formGroup]="form" (submit)="sendEmail()">
                    <p>Completa el siguiente formulario y me pondré en contacto contigo lo antes posible.</p>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre Completo*</label>
                        <input class="form-control" formControlName="name" type="text" name="name" x placeholder="Escribe tu nombre completo">
                        <span class="text-danger"  [hidden]="name.valid || name.pristine">
                            El nombre es obligatorio!
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email*</label>
                        <input class="form-control" formControlName="email" type="email" name="email"  placeholder="Escribe tu correo electrónico">
                        <span class="text-danger"  *ngIf="email.errors?.['required']" [hidden]="email.valid || email.pristine">
                            El email es obligatorio!
                        </span>
                        <span class="text-danger" *ngIf="email.errors?.['email']" [hidden]="email.valid || email.pristine">
                            El email debe ser valido!
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mensaje*</label>
                        <textarea class="form-control" formControlName="message" name="message" style="height: 100px;" placeholder="Escribe tu mensaje aquí"></textarea>
                    </div>
                    <!-- <div>
                        <p>	
                            {{form.value | json}}
                        </p>
                    </div> -->
                    <button type="submit" class="btn btn-primary d-grid mx-auto">Enviar mensaje</button>
                </form>
            </div>

        </div>
    </div>
    <br>
    <br>
</div>

<div class="content p-3 footer ">
    <div class="row justify-content-center">
        <div class="col text-center ">
            <p>
                <i class="fa-solid fa-envelope"></i>
                <span> Email: <a  href="">{{ currentEmailText }}</a></span>
            </p>
        </div>
        <div class="col text-center">
            <p>
                <i class="fa-brands fa-linkedin"></i>
                <span> LinkedIn: <a href="https://www.linkedin.com/in/ludwingarmijosaavedra/">in/ludwingarmijosaavedra</a></span>
            </p>
        </div>
        <div class="col text-center">
            <p>
                <i class="fa-brands fa-whatsapp"></i>
                <span> WhatsApp: <a href="https://wa.me/59175076889">+591 75076889</a></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">
                 Coded with 🚀 by Ludwing Armijo Saavedra
            </p>
        </div>
    </div>
</div>
