
.card {
  width: 350px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  height: 50px;
  border-radius: 10px;
}
.card{
  border: 1px solid #039be5;
}
h2{
  padding-bottom: 20px;
}
.footer{
  background-color: rgb(17, 17, 17);
  width: auto;
  height: auto;
}
