$color1: #06283D;
$color2: #1363DF;
$color3: #47B5FF;
$color4: #DFF6FF;
$color5: #ffff;
$color6: #ffff;
.section {
    min-height: 80vh; /* La sección ocupa el 100% de la altura de la pantalla */
    
  }
.card{
    border: 1px solid $color2;
    margin: 10px;

}
img{
    width: 200px;
    height: auto;
}
.btn{
    margin: 10px;
    span{
        padding-left: 4px;
        
    }
    border: 0.01px solid $color2;
    &:hover{
        background-color: $color2;

    }

}
h2{
    padding-top: 20px;

}
.card-text .tech {
  margin-right: 5px;
}

.angular {
  color: #DD2A7B !important;
}

.laravel {
  color: #FF2D20 !important;
}

.php {
  color: #8892BF !important;
}

.ajax {
  color: #1A73E8 !important;
}
.html{
  color: #E44D26 !important;
}

.mysql {
  color: #00758F !important;
}
.javascript{
  color: #F0DB4F !important;
}
.bootstrap5 {
  color: #7952B3 !important;
}

.ionic {
  color: #3880FF !important;
}

.nodejs{
  color: #68A063 !important;
}

.typescript {
  color: #007ACC !important;
}

.scss {
  color: #CD6799 !important;
}

.angular16 {
  color: #b80000 !important;
}

.angular17 {
  color: #DD2A7B !important;
}
.card-title{
    color: $color2 !important;
}