$color1: #06283D;
$color2: #1363DF;
$color3: #47B5FF;
$color4: #DFF6FF;
$color5: #ffff;
$color6: #0c0c0c;
$color7: #0e0e0e;

.navbar{
    background-color: rgba(19, 19, 19, 0.8); /* Color de fondo con opacidad */
    backdrop-filter: blur(2px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(8px); /* Aplica el desenfoque */
}
