
.buttons{
    gap: 12px;
}
.socialm{
  padding-top: 70px;
}

.section {
  height: 100vh; /* La sección ocupa el 100% de la altura de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
