<div  class="content text-center section" id="home" >
  <br>
  <br>
  <div class="container"   data-aos="fade-up">
    <div class="row justify-content-md-center presentation">
      <div class="col text-center">
        <h5 class="text-muted">{{ welcomeMessage }}</h5>
        <h1>{{ name }}</h1>
        <h2>{{ lastName }}</h2>
        <p class="portfolioMessage">{{ portfolioMessage }}</p>
      </div>
    </div>

    <div class="row justify-content-md-center buttons">
      <div class="col">
        <button type="button" class="btn btn-primary mx-2" (click)="goToCv()">{{ btnCv }}</button>
        <button type="button"   class="btn btn-primary mx-2">
          <a class="nav-contact" href="#contact">{{ btnContact }} </a>
        </button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center"> <!-- Logos -->
      <div class="col-auto  ">
        <a href="https://github.com/ludwingx" class="btn-circle">
          <i class="fa-brands fa-github fa-2x icon-centered"></i>
        </a>
      </div>
<!--       <div class="col-auto  ">
        <a href="" class="btn-circle">
          <i class="fa-brands fa-twitter fa-2x icon-centered"></i>
        </a>
      </div> -->
      <div class="col-auto ">
        <a href="https://www.instagram.com/luwin_dev/" class="btn-circle">
          <i class="fa-brands fa-instagram fa-2x icon-centered"></i>
        </a>
      </div>
<!--       <div class="col-auto  ">
        <a href="" class="btn-circle">
          <i class="fa-brands fa-youtube fa-2x icon-centered"></i>
        </a>
      </div> -->
      <div class="col-auto ">
        <a href="https://www.linkedin.com/in/ludwingarmijosaavedra/" class="btn-circle">
          <i class="fa-brands fa-linkedin fa-2x icon-centered"></i>
        </a>
      </div>
    </div>
</div>




