<div class="content section" id="home" >
  <!-- CONTENT -->
  <div class="row " >
    <!-- HOME SECTION -->
    <div class="col text-center ">
      <h5>{{ welcomeMessage }}</h5>
      <h1>{{ name }}</h1>
      <h2>{{ lastName }}</h2>
      <h6>{{ portfolioMessage }}</h6>
      <br />
      <!-- Buttons MID -->
      <div class="row buttons">
        <div class="col">
          <button class="btn btn-primary mx-2">{{ btnCv }}</button>
          <button class="btn btn-secondary mx-2">{{ btnContact }}</button>
        </div>
      </div>

      <div class="row justify-content-center socialm">
        <div class="col">
          <h6>Mis redes:</h6>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col d-flex justify-content-center">
          <div class="row "> <!-- Logos -->
            <div class="col">
              <a href="" class="btn-circle">
                <i class="fa-brands fa-github fa-2x icon-centered"></i>
              </a>
            </div>
            <div class="col">
              <a href="" class="btn-circle">
                <i class="fa-brands fa-twitter fa-2x icon-centered"></i>
              </a>
            </div>
            <div class="col">
              <a href="" class="btn-circle">
                <i class="fa-brands fa-instagram fa-2x icon-centered"></i>
              </a>
            </div>
            <div class="col">
              <a href="" class="btn-circle">
                <i class="fa-brands fa-youtube fa-2x icon-centered"></i>
              </a>
            </div>
            <div class="col">
              <a href="" class="btn-circle">
                <i class="fa-brands fa-linkedin fa-2x icon-centered"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    
</div>
