<div class="content p-3 d-flex justify-content-center section" id="aboutme" >
    <div class="row " data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
        <h2 class="text-center" data-aos="fade-zoom-in">
            Sobre mí
        </h2>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center "  >
            <img src="./assets/photo1.jfif" alt=""  class="img-fluid " data-aos="fade-zoom-in">
        </div>
        <div class="col  text-center  d-flex justify-content-center" style="padding-top: 20px;"  >
            <div data-aos="fade-zoom-in"
             class="col-9">
            <h3 >{{titleName}}</h3>
            <span>
                {{txtAboutme}}
            </span>
            <span>
               {{txtAboutme2}}
            </span>
            <p>
                {{txtAboutme3}}
            </p>
            </div>
        </div>
    </div>
</div>
