img{
    max-width: 350px;
    height: auto;
}
h2{
    padding-top: 20px;

}
.section {
    min-height: 80vh; /* La sección ocupa el 100% de la altura de la pantalla */
    
  }
#card{
    width: 16rem;
    height: auto;
    margin-bottom: 20px;

}
#cardRow{
    padding-top: 20px;
}
