<div class="content p-3 d-flex justify-content-center section" id="aboutme">

    <div class="row ">
        <h2 class="text-center">Sobre mí</h2>
        <div class="col-12 col-md-6 col-lg-6 justify-content-md-center" >
            <img src="./assets/photo1.jfif" alt=""  class="img-fluid">
        </div>
        <div class="col-12 col-md-4">
            <h3>Ludwing Armijo</h3>
            <span>
                {{txtAboutme}}
            </span>
            <span>
               {{txtAboutme2}}
            </span>
            <p>
                {{txtAboutme3}}
            </p>
        </div>


    </div>
    <!-- <div class="row aboutme" id="aboutme">
        <h1>Sobre mí</h1>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <p>
                        Soy estudiante universitario de la carrera de Ingeniería de Sistemas y estudiante autodidacta de Desarrollo Web Fullstack.
Aspiro conseguir empleo en el mundo del Desarrollo Web, adquirir experiencia, nuevos conocimientos y fortalecer mi vida profesional.
Soy apasionado, empático, con competencias enfocadas en el trabajo en equipo, comunicación asertiva, responsable y proactivo, me gusta proponerme metas y siempre estoy dispuesto a adquirir nuevos conocimientos.
                    </p>
                </div>

                
            </div>
        </div>
    </div> -->
</div>
