<div class="content p-3">
    <div class="row aboutme" id="aboutme">
        <h1>Sobre mí</h1>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <span>Soy estudiante universitario de la carrera de Ingeniería de Sistemas y estudiante autodidacta de Desarrollo Web Fullstack.</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <span>Aspiro conseguir empleo en el mundo del Desarrollo Web, adquirir experiencia, nuevos conocimientos y fortalecer mi vida profesional.</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <span>Soy apasionado, empático, con competencias enfocadas en el trabajo en equipo, comunicación asertiva, responsable y proactivo, me gusta proponerme metas y siempre estoy dispuesto a adquirir nuevos conocimientos.</span>
                </div>
            </div>
        </div>
    </div>
</div>
