$color1: #06283D;
$color2: #1363DF;
$color3: #47B5FF;
$color4: #DFF6FF;
$color5: #ffff;
$color6: rgb(3, 3, 3);
$color7: rgb(5, 5, 5);
#navbar{
    a{
        color: white;
        &:hover{
            background-image: linear-gradient(to right, $color2, $color3);
            -webkit-background-clip: text; 
            background-clip: text; 
            color: transparent; /* Hace que el texto sea transparente */
        }
    }
}
#home {
    background-color: $color6; /* Puedes cambiar esto al color que desees */
    h1,h2,h3,h4,h5,h6{
        color: #ffffff;

    }
    h1,.nav-contact:hover{
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
    .nav-contact:hover{
        color: $color5;
    }
    i:hover{
        color: #47B5FF;
    }
    .btn{
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
        &:hover{
            background: linear-gradient(to right,$color3, $color2); /* Cambia los colores según tus preferencias */
            color: $color5;
            transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        }         
    }
}
#aboutme{
    background-color: $color6; /* Puedes cambiar esto al color que desees */
    h1,h2,h3,h4,h5,h6,p,span{
        color: #ffffff;
    }
    h2{
        color: $color5;
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
    background-color: $color7; /* Puedes cambiar esto al color que desees */
}
#portfolio{
    background-color: $color6; /* Puedes cambiar esto al color que desees */
    h1,h2,h3,h4,h5,h6,p,span,i{
        color: #ffffff;
    }
    .card{
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        background-color: $color7;
        border: 3px solid;
        border-image: linear-gradient(to right, $color2, $color3);
        border-image-slice: 1;
        &:hover{
            border-image: linear-gradient(to right, $color3, $color2);
            border-image-slice: 1;
            transform: scale(1.01);
        }
        .btn{
            span,i{
                background-image: linear-gradient(to right, $color2, $color3);
                -webkit-background-clip: text; 
                background-clip: text; 
                color: transparent; /* Hace que el texto sea transparente */
            }
            &:hover{
                span,i{
                    color: $color5;
                }
                background: linear-gradient(to right,$color3, $color2); /* Cambia los colores según tus preferencias */
                transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;  
            }
        }
    }
    h2{
        color: $color5;
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
}
#education {
    background-color: $color7; /* Puedes cambiar esto al color que desees */
    h1,h2,h3,h4,h5,h6,p,span{
        color: #ffffff;
    }
    h2{
        color: #ffffff;
        padding-bottom: 20px;

    }
    h2{
        color: $color5;
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
    .title{
        padding-bottom: 30px;
    }
    .card{
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        background-color: $color7;
        border: 3px solid;
        border-image: linear-gradient(to right, $color2, $color3);
        border-image-slice: 1;
        &:hover{
            border-image: linear-gradient(to right, $color3, $color2);
            border-image-slice: 1;
            transform: scale(1.01);
        }


    }
}
#skills{
    background-color: $color6; /* Puedes cambiar esto al color que desees */
    h2{
        color: #ffffff;
        padding-bottom: 20px;

    }
    h6{
        color: $color2;
    }
    h2{
        color: $color5;
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
    
}
#contact{

    background-color: $color7; /* Puedes cambiar esto al color que desees */
    h1,h2,h3,h4,h5,h6,p,span,label{
        color: #ffffff;
    }

    .card{

        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        background-color: $color7;
        border: 3px solid;
        border-image: linear-gradient(to right, $color2, $color3);
        border-image-slice: 1;
        input,textarea{

            background-color: #0C0C0C;
            color: $color5;
            ::placeholder{
                background-image: linear-gradient(to right, $color2, $color3);
                -webkit-background-clip: text; 
                background-clip: text; 
                color: transparent; /* Hace que el texto sea transparente */
            }

            h5,p{
                background-image: linear-gradient(to right, $color2, $color3);
                -webkit-background-clip: text; 
                background-clip: text; 
                color: transparent; /* Hace que el texto sea transparente */
                
            }

            border-image: linear-gradient(to right, $color2, $color3);
            border-image-slice: 1;

        }
        .btn{
            background-image: linear-gradient(to right, $color2, $color3);
            -webkit-background-clip: text; 
            background-clip: text; 
            color: transparent; /* Hace que el texto sea transparente */
            &:hover{
                background: linear-gradient(to right,$color3, $color2); /* Cambia los colores según tus preferencias */
                color: $color5;
                transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
            }
        }
    } 

    h2{
        font-size: 40px;
        background-image: linear-gradient(to right, $color2, $color3);
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent; /* Hace que el texto sea transparente */
    }
}
